
.trending {
    width: 100%;
    padding: 10px 15px;
    font-size: 25px;
    margin: 2px 0;
    background-color: #DC3545;

    color: white;
}

.headline {
    text-align: center;
    font-size: 35px;
    margin: 8px 0;
    font-weight: 700;
}


.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 400px;
    background-color: #DC3545;
    color: white;
    margin: 10px;
    padding: 20px;
}
.card img{
    width: 400px;
    height: 250px;
}

@media (max-width:425px) {

    .headline {

        font-size: 25px;
        margin: px 0;
    }
}